@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spacing: 1.5rem;
    --inner-spacing: 1rem;

    /* Use Tailwind's responsive breakpoints */
    @media (min-width: 640px) {
      :root {
        --spacing: 2rem;
        --inner-spacing: 1.5rem;
      }
    }

    @media (min-width: 768px) {
      :root {
        --spacing: 2.5rem;
        --inner-spacing: 2rem;
      }
    }

    @media (min-width: 1024px) {
      :root {
        --spacing: 3rem;
        --inner-spacing: 2.5rem;
      }
    }
  }

  body {
    @apply bg-background;
  }

  * {
    @apply text-foreground;
  }
}

/* Define root color variables */
:root {
  --background: #f9f9f9;
  --foreground: #333333;
  --primary: #00703f;
  --secondary: #ff0080;
  --primary-button: #22c55e;
}

/* Dark mode variables */
.dark {
  --background: #111111;
  --foreground: #f9f9f9;
  --primary: #64ffda;
  --secondary: #ff79c6;
}
